@tailwind base;
@tailwind components;
@tailwind utilities;

.video-wrapper {
  @apply relative lg:pb-[40.25%] h-0 pb-[56.25%];
}

.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
